
@model coreWebApplication1.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StronglyTypedLogin</title>
</head>
<body>
    @using (Html.BeginForm("SuccessPost", "Account", FormMethod.Post))
    {
        <div>
            Username : @Html.TextBox("Username")
        </div>
        <div>
            Password : @Html.Password("Password")
        </div>

        <div>
            <input value="Login" type="submit" />
            
        </div>
    }
</body>
</html>
