
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetaills</title>
</head>
<body>
     <h2>UserDetaills : </h2>
     <p>Username : @Model.username</p>
     <p>password : @Model.password</p>

</body>
</html>
