@model IList<coreWebApplication1.Models.LoginViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserList</title>
</head>
<body>
    List of Users : 
     @foreach (var item in Model)
    {
        <p>username : @item.username</p>
        <p>password : @item.password</p>  
    }
</body>
</html>
